<?xml version="1.0" encoding="UTF-8"?>


<!--
                %d{yyyy-MM-dd HH:mm:ss, SSS} : 日志生产时间
                %p : 日志输出格式
                %c : logger的名称
                %m : 日志内容，即 logger.info("message")
                %n : 换行符
                %C : Java类名
                %L : 日志输出所在行数
                %M : 日志输出所在方法名
                hostName : 本地机器名
                hostAddress : 本地ip地址
             -->

<Configuration status="TRACE" packages="com.jk.log4j2">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<redisAppender name="redisAppender"  key="key1">
			<Property name="redisNodes">localhost:7000</Property>
			<Property name="timeout">5000</Property>
			<Property name="maxRedirections">20</Property>
			<Property name="password"></Property>
			
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
		</redisAppender>
	</Appenders>

	<Loggers>
	    <Logger name="org.apache.kafka" level="INFO">
			<AppenderRef ref="console"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="redisAppender" />
		</Root>
	</Loggers>
</Configuration>
            
    